# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core
wwwroot/node_modules/
wwwroot/lib/
*.publish.xml

# Npm / Yarn / Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rider IDE files
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user

# Database
*.mdf
*.ldf
*.ndf

# Azure Pipelines
.azuredevops/
!*.yaml
!*.yml

# DotNetCore specific
project.lock.json
project.fragment.lock.json
artifacts/
generated/
**/*.ide/
*.ide/
**/bin/
**/obj/
out/
*.vsconfig

# Logs
*.log

# User-specific files
*.swp
*.sln.docstates
